t-body {
			width: 750px;
			margin: 0 auto;
            border: 2px solid black;
		}
		table {
			border-collapse: collapse;
			border: 1px solid black;
			margin: auto;
            margin-bottom: 40px;
		}
		thead {
			background-color: yellow;
		}
		th, td {
			border: 1px solid black;
			padding: .2em 1em .2em .5em;
			text-align: left;
			vertical-align: top;
		}
		.right {
			text-align: right;
		}
		tbody tr:nth-child(even) td {
			background-color: yellow;
		}
        .yellow{
            background-color: yellow;
        }
        .center{
            text-align:center;
        }